// colors

$colorblue: blue;
$colorred: red;
$colorsky: deepskyblue;
$colorblack: black;
$colorlavend: lavender;
$color01: #87676a;
$color02: #c6adb1;
$colorft:#e1e0de;


// fonts

$font01: 'Otomanopee One', sans-serif;
$font02: 'Varela Round', sans-serif;
$font03: 'Josefin Sans', sans-serif;
$font04: 'Raleway', sans-serif;
$font05: 'Poppins', sans-serif;